# ISM Week 04 Test Solutions

This test will ask you questions very similar to the ones we worked through in week 02. It will cover:

* Holding period returns
* Arithmetic and Geometric Means
* Variance
* Standard Deviation
* Skewness
* Kurtosis
* Value at Risk

In [1]:
# importing necessary libraries
import pandas as pd
import numpy as np

### Question 1

10, 11.20, 13.44, 9.41, 10.35

Consider stock A with closing prices starting at time 0 over the next 3 months as given above.

Tasks:
1. Calculate the monthly holding period returns (regular, not log returns). Name the container/variable/vector containing the  holding period returns "returns".
2. Calculate the 3-month holding period return by using the monthly returns in part 1. Name it return_3m_rtns.
3. Calculate the 3-month holding period return by using the relevant starting and ending prices. Name it return_3m_prcs.

In [2]:
# first your closing prices are saved in a pandas dataframe for you
lst = [10, 11.20, 13.44, 9.41, 10.35]
prices = pd.DataFrame(lst)
prices

       0
0  10.00
1  11.20
2  13.44
3   9.41
4  10.35

In [3]:
# include your code for task 1. here
returns = prices / prices.shift(1) - 1
returns

          0
0       NaN
1  0.120000
2  0.200000
3 -0.299851
4  0.099894

In [4]:
# include your code for task 2. here
gross_returns = returns + 1
return_3m_rtns = gross_returns.iloc[1]*gross_returns.iloc[2]*gross_returns.iloc[3]-1
return_3m_rtns

0   -0.059
dtype: float64

In [5]:
# include your code for task 3. here
return_3m_prcs = prices.iloc[3]/prices.iloc[0]-1
return_3m_prcs

0   -0.059
dtype: float64

### Question 2

Use the return calculations you performed in Question 1 to perform the following tasks.

Tasks:
1. Calculate the arithmetic mean of stock A, name it mean_a
2. Calculate the geometric mean of the returns of Stock A, name it mean_g
3. Answer the question that follows based on your calculations

In [6]:
# include your code for task 1. here
mean_a = returns.mean()
mean_a

0    0.030011
dtype: float64

In [7]:
# include your code for task 2. here
mean_g = (gross_returns.prod())**(1/gross_returns.count())-1
mean_g

0    0.008637
dtype: float64

Task 3

Which of the following statements is correct regarding your calculations above?

I. The arithmetic average tells me what I expect to earn if I buy the stock today and hold it for a month. 
II. The geometric mean tells me what average monthly return I earned over the last 3 months. 
III. The arithmetic mean is always greater than the geometric mean 

Option 1: I only
Option 2: II only 
Option 3: I and II 
Option 4: I, II and III

Answer is 1.
II. is incorrect becasue mean_g covers 4 months not 3.
III. is incorrect becasue mean_a and mean_g could be equal.

### Question 3

Use the return calculations you performed in Question 1 to perform the following tasks.

Tasks:

1. Calculate the variance of the returns of stock A, name it var.
2. Calculate the standard deviation of the returns of stock A, name it std.
3. Calculate the skewness of the returns of stock A, name it skew.
4. Calculate the kurtosis of the returns of stock A, name it kurt.

In [9]:
# include your code for task 1. here
var = returns.var()
var

0    0.050229
dtype: float64

In [10]:
# include your code for task 2. here
std = returns.std()
std

0    0.224118
dtype: float64

In [11]:
# include your code for task 3. here
skew = returns.skew()
skew

0   -1.771293
dtype: float64

In [12]:
# include your code for task 4. here
kurt = returns.kurt()
kurt

0    3.363576
dtype: float64

### Question 4

You have a csv file of monthly historical prices on an exchange traded fund of US exploration&production oil&gas companies. It has been read in for you.

Tasks:
1. Calculate the returns, name the container rets.
2. Calculate the 5% VaR on a monthly basis assuming normality per unit of currency invested in the fund, name this val_risk_norm.
3. Calculate the 5% VaR on a monthly basis not assuming normality per unit of currency invested in the fund, name this val_risk_non_norm.
4. Answer the question regarding your calculations.

In [13]:
prices_fund = pd.read_csv("fund_monthly.csv")
prices_fund.head(5)

        date      prices
0  31-Dec-17  141.983344
1  31-Jan-18  140.952265
2  28-Feb-18  126.249848
3  31-Mar-18  134.755283
4  30-Apr-18  150.671864

In [14]:
prices_fund = pd.read_csv("fund_monthly.csv")
new_header = prices_fund.date
prices_fund = prices_fund.prices
prices_fund.head(5)

0    141.983344
1    140.952265
2    126.249848
3    134.755283
4    150.671864
Name: prices, dtype: float64

In [15]:
# include your code for task 1. here
rets = prices_fund / prices_fund.shift(1) - 1
rets.head(5)

0         NaN
1   -0.007262
2   -0.104308
3    0.067370
4    0.118115
Name: prices, dtype: float64

In [16]:
# include your code for task 2. here
val_risk_norm = rets.mean() - 1.65*rets.std()
val_risk_norm

-0.30734879319113034

In [17]:
# include your code for task 3. here
val_risk_non_norm = rets.quantile(.05)
val_risk_non_norm

-0.19385111250900158

Task 4

Which of the following statements is correct regarding your calculations above?

I. The VaR assuming normality is more conservative than the VaR not assuming normality.
II. The VaR assuming normality is overestimating the loss compared to the VaR not assuming normality.
III. At any given month between 19.39% and 30.73% of the value of the fund could be lost in the best case of the 5% worst possible outcomes

Option 1: I and III
Option 2: II and III
Option 3: I and II
Option 4: I, II and III

Answer is 4.